In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_json('purchases.json')
print(df)

  Unnamed: 0  ad_views country  items_purchased
0     George        16      US                2
1       John        42     CAN                1
2     Thomas        32     CAN                0
3      James        13      US                8
4     Andrew        63     CAN                0
5     Martin        19      US                5
6    William        65      US                7
7    Zachary        23      US                3
8    Millard        16     CAN                0
9   Franklin        77      US                5

In [4]:
json_string = df.to_json()